flow.json
[
    {
        "id": "1f71719cabb831b2",
        "type": "tab",
        "label": "WifiWatchdog",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5e246f6c64b79f72",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "12558bde57882678",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#d56a00",
                "baseFont": "Century Gothic,CenturyGothic,AppleGothic,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#d56a00",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#d56a00",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#ff9022",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#d56a00",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "Century Gothic,CenturyGothic,AppleGothic,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "true",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD.MM.YYYY",
            "sizes": {
                "sx": 32,
                "sy": 32,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "6b4a2f52d38b44b5",
        "type": "ui_tab",
        "name": "syscontrol",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ded9de771fc64da5",
        "type": "ui_group",
        "name": "Sysconf",
        "tab": "6b4a2f52d38b44b5",
        "order": 1,
        "disp": true,
        "width": 20,
        "collapse": false,
        "className": ""
    },
    {
        "id": "c6d2088a8e2b5e62",
        "type": "ui_tab",
        "name": "clock",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "35e38ec25a4260c6",
        "type": "ui_tab",
        "name": "blank",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2549cedd67b83eef",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "c6d2088a8e2b5e62",
        "order": 1,
        "disp": false,
        "width": 20,
        "collapse": false,
        "className": ""
    },
    {
        "id": "4fe5a80a239aed94",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "35e38ec25a4260c6",
        "order": 1,
        "disp": true,
        "width": 20
    },
    {
        "id": "004d01a5caaafdb7",
        "type": "ui_link",
        "name": "Link 4",
        "icon": "open_in_browser",
        "target": "newtab",
        "order": 5
    },
    {
        "id": "48e0ed102c743709",
        "type": "ui_spacer",
        "z": "5e246f6c64b79f72",
        "name": "spacer",
        "group": "ded9de771fc64da5",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "62c7d979027dcc5f",
        "type": "ui_spacer",
        "z": "5e246f6c64b79f72",
        "name": "spacer",
        "group": "ded9de771fc64da5",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "43d8c5d6329fdc77",
        "type": "ui_spacer",
        "z": "5e246f6c64b79f72",
        "name": "spacer",
        "group": "ded9de771fc64da5",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "fcb363877b5252e3",
        "type": "ui_spacer",
        "z": "5e246f6c64b79f72",
        "name": "spacer",
        "group": "ded9de771fc64da5",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "4310da4297394069",
        "type": "ui_spacer",
        "z": "5e246f6c64b79f72",
        "name": "spacer",
        "group": "ded9de771fc64da5",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "99c7f050cd3227ba",
        "type": "ui_spacer",
        "z": "5e246f6c64b79f72",
        "name": "spacer",
        "group": "ded9de771fc64da5",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "9ee237335e847cff",
        "type": "ui_spacer",
        "z": "5e246f6c64b79f72",
        "name": "spacer",
        "group": "ded9de771fc64da5",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "a93764c5d9fbb7d2",
        "type": "ui_spacer",
        "z": "5e246f6c64b79f72",
        "name": "spacer",
        "group": "ded9de771fc64da5",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "d040e34c5a1cce51",
        "type": "ui_spacer",
        "z": "5e246f6c64b79f72",
        "name": "spacer",
        "group": "ded9de771fc64da5",
        "order": 16,
        "width": 1,
        "height": 1
    },
    {
        "id": "81f2a914ddc05351",
        "type": "ui_spacer",
        "z": "5e246f6c64b79f72",
        "name": "spacer",
        "group": "ded9de771fc64da5",
        "order": 18,
        "width": 1,
        "height": 1
    },
    {
        "id": "f26836198c467127",
        "type": "ui_spacer",
        "z": "5e246f6c64b79f72",
        "name": "spacer",
        "group": "ded9de771fc64da5",
        "order": 19,
        "width": 1,
        "height": 1
    },
    {
        "id": "5eefe9e6b386c6cb",
        "type": "ui_spacer",
        "z": "5e246f6c64b79f72",
        "name": "spacer",
        "group": "ded9de771fc64da5",
        "order": 20,
        "width": 1,
        "height": 1
    },
    {
        "id": "4eba4286118d364f",
        "type": "ui_spacer",
        "z": "5e246f6c64b79f72",
        "name": "spacer",
        "group": "ded9de771fc64da5",
        "order": 22,
        "width": 5,
        "height": 1
    },
    {
        "id": "090980ae84e02eb6",
        "type": "ui_spacer",
        "z": "5e246f6c64b79f72",
        "name": "spacer",
        "group": "ded9de771fc64da5",
        "order": 23,
        "width": 11,
        "height": 1
    },
    {
        "id": "5da7698548d19ea9",
        "type": "ui_spacer",
        "z": "5e246f6c64b79f72",
        "name": "spacer",
        "group": "ded9de771fc64da5",
        "order": 26,
        "width": 1,
        "height": 1
    },
    {
        "id": "ed31041a7414417c",
        "type": "ui_spacer",
        "z": "5e246f6c64b79f72",
        "name": "spacer",
        "group": "ded9de771fc64da5",
        "order": 28,
        "width": 1,
        "height": 1
    },
    {
        "id": "617551717e15cb3d",
        "type": "ui_tab",
        "name": "radar update",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "19542e2ab6026737",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "617551717e15cb3d",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "979ed8a8898bee12",
        "type": "ui_spacer",
        "z": "5e246f6c64b79f72",
        "name": "spacer",
        "group": "2549cedd67b83eef",
        "order": 1,
        "width": 2,
        "height": 1
    },
    {
        "id": "9d7eb2c979dc0602",
        "type": "ui_spacer",
        "z": "5e246f6c64b79f72",
        "name": "spacer",
        "group": "2549cedd67b83eef",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "954b37ba300fa9b1",
        "type": "ui_spacer",
        "z": "5e246f6c64b79f72",
        "name": "spacer",
        "group": "2549cedd67b83eef",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "503c5ce01eb84768",
        "type": "ui_spacer",
        "z": "5e246f6c64b79f72",
        "name": "spacer",
        "group": "2549cedd67b83eef",
        "order": 5,
        "width": 2,
        "height": 1
    },
    {
        "id": "f25a7c42d4c858f1",
        "type": "ui_spacer",
        "z": "5e246f6c64b79f72",
        "name": "spacer",
        "group": "2549cedd67b83eef",
        "order": 6,
        "width": 2,
        "height": 1
    },
    {
        "id": "3a072216095b2e1c",
        "type": "ui_spacer",
        "z": "5e246f6c64b79f72",
        "name": "spacer",
        "group": "2549cedd67b83eef",
        "order": 7,
        "width": 2,
        "height": 1
    },
    {
        "id": "8bf75d9284195066",
        "type": "ui_spacer",
        "z": "5e246f6c64b79f72",
        "name": "spacer",
        "group": "2549cedd67b83eef",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "3bb56aadddc3f348",
        "type": "ui_spacer",
        "z": "5e246f6c64b79f72",
        "name": "spacer",
        "group": "2549cedd67b83eef",
        "order": 9,
        "width": 2,
        "height": 1
    },
    {
        "id": "7f7ebcc586f8542f",
        "type": "ui_spacer",
        "z": "5e246f6c64b79f72",
        "name": "spacer",
        "group": "2549cedd67b83eef",
        "order": 10,
        "width": 2,
        "height": 1
    },
    {
        "id": "957dfd2950d0e32e",
        "type": "ui_spacer",
        "z": "5e246f6c64b79f72",
        "name": "spacer",
        "group": "2549cedd67b83eef",
        "order": 14,
        "width": 2,
        "height": 1
    },
    {
        "id": "4e61eb8c417607db",
        "type": "ui_spacer",
        "z": "5e246f6c64b79f72",
        "name": "spacer",
        "group": "2549cedd67b83eef",
        "order": 15,
        "width": 2,
        "height": 1
    },
    {
        "id": "aa0fc89b5e286de5",
        "type": "ui_spacer",
        "z": "5e246f6c64b79f72",
        "name": "spacer",
        "group": "2549cedd67b83eef",
        "order": 16,
        "width": 2,
        "height": 1
    },
    {
        "id": "7b9f795a9a4ac3ae",
        "type": "ui_spacer",
        "z": "5e246f6c64b79f72",
        "name": "spacer",
        "group": "2549cedd67b83eef",
        "order": 17,
        "width": 5,
        "height": 1
    },
    {
        "id": "1a8f5ea836b0777b",
        "type": "ui_spacer",
        "z": "5e246f6c64b79f72",
        "name": "spacer",
        "group": "2549cedd67b83eef",
        "order": 18,
        "width": 2,
        "height": 1
    },
    {
        "id": "3150d86c553bb99c",
        "type": "ui_spacer",
        "z": "5e246f6c64b79f72",
        "name": "spacer",
        "group": "2549cedd67b83eef",
        "order": 19,
        "width": 10,
        "height": 1
    },
    {
        "id": "5bbc1764dba2d871",
        "type": "ui_spacer",
        "z": "5e246f6c64b79f72",
        "name": "spacer",
        "group": "2549cedd67b83eef",
        "order": 20,
        "width": 2,
        "height": 1
    },
    {
        "id": "eeea375d598cb744",
        "type": "ui_spacer",
        "z": "5e246f6c64b79f72",
        "name": "spacer",
        "group": "2549cedd67b83eef",
        "order": 21,
        "width": 10,
        "height": 1
    },
    {
        "id": "317247ff5aaa1011",
        "type": "ui_spacer",
        "z": "5e246f6c64b79f72",
        "name": "spacer",
        "group": "2549cedd67b83eef",
        "order": 22,
        "width": 2,
        "height": 1
    },
    {
        "id": "6015b7170b0592da",
        "type": "ui_spacer",
        "z": "5e246f6c64b79f72",
        "name": "spacer",
        "group": "2549cedd67b83eef",
        "order": 23,
        "width": 10,
        "height": 1
    },
    {
        "id": "72c5225bb5c199b4",
        "type": "ui_spacer",
        "z": "5e246f6c64b79f72",
        "name": "spacer",
        "group": "2549cedd67b83eef",
        "order": 24,
        "width": 2,
        "height": 1
    },
    {
        "id": "e769ba568bb0a751",
        "type": "ui_spacer",
        "z": "5e246f6c64b79f72",
        "name": "spacer",
        "group": "2549cedd67b83eef",
        "order": 27,
        "width": 5,
        "height": 1
    },
    {
        "id": "fb155002495989fd",
        "type": "ui_spacer",
        "z": "5e246f6c64b79f72",
        "name": "spacer",
        "group": "2549cedd67b83eef",
        "order": 29,
        "width": 2,
        "height": 1
    },
    {
        "id": "f2ce91973a37e240",
        "type": "inject",
        "z": "1f71719cabb831b2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 140,
        "wires": [
            [
                "b8e8c83b77de2514"
            ]
        ]
    },
    {
        "id": "b8e8c83b77de2514",
        "type": "exec",
        "z": "1f71719cabb831b2",
        "command": "sudo nmcli connection down 'BRB WLAN'",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "wifi dn",
        "x": 390,
        "y": 140,
        "wires": [
            [
                "a87aafe89960549f"
            ],
            [
                "a87aafe89960549f"
            ],
            []
        ]
    },
    {
        "id": "1491330c62971d65",
        "type": "exec",
        "z": "1f71719cabb831b2",
        "command": "sudo nmcli connection up 'BRB WLAN'",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "wifi up",
        "x": 810,
        "y": 160,
        "wires": [
            [
                "4747ac6c48f516a5"
            ],
            [],
            []
        ]
    },
    {
        "id": "3a7445fb8c80d433",
        "type": "exec",
        "z": "1f71719cabb831b2",
        "command": "python3 /home/fish/python/wifilogin.py",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "connect",
        "x": 1100,
        "y": 200,
        "wires": [
            [
                "b2178fe3e91923db"
            ],
            [],
            []
        ]
    },
    {
        "id": "32150a22cf2e312d",
        "type": "ping",
        "z": "1f71719cabb831b2",
        "protocol": "Automatic",
        "mode": "triggered",
        "name": "ping1",
        "host": "www.google.de",
        "timer": "20",
        "inputs": 1,
        "x": 190,
        "y": 380,
        "wires": [
            [
                "209cb2e3e6683aca",
                "79c8d5256bb98436"
            ]
        ]
    },
    {
        "id": "e8c436f4965a61ec",
        "type": "inject",
        "z": "1f71719cabb831b2",
        "name": "start_wifi_watchdog",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 140,
        "y": 740,
        "wires": [
            [
                "fd01996cba58246c",
                "18273ab4afbfd524"
            ]
        ]
    },
    {
        "id": "209cb2e3e6683aca",
        "type": "switch",
        "z": "1f71719cabb831b2",
        "name": "ping.fail",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 400,
        "y": 420,
        "wires": [
            [
                "d67193f8eae5a025",
                "1a515cdd316e9fbc",
                "1b987b73a33bbbfb"
            ]
        ]
    },
    {
        "id": "29a70afb113115e7",
        "type": "trigger",
        "z": "1f71719cabb831b2",
        "name": "int15s",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-15",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "false",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 630,
        "y": 680,
        "wires": [
            [
                "7c3e8a1e6a3cdd33"
            ]
        ]
    },
    {
        "id": "fd01996cba58246c",
        "type": "ui_switch",
        "z": "1f71719cabb831b2",
        "name": "Wifi-Watchdog",
        "label": "Wifi-Watchdog",
        "tooltip": "",
        "group": "ded9de771fc64da5",
        "order": 1,
        "width": 5,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 420,
        "y": 680,
        "wires": [
            [
                "29a70afb113115e7"
            ]
        ]
    },
    {
        "id": "d67193f8eae5a025",
        "type": "delay",
        "z": "1f71719cabb831b2",
        "name": "5s",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 630,
        "y": 420,
        "wires": [
            [
                "98ba6bebe6d2ef29",
                "0de509fe7c60ae99"
            ]
        ]
    },
    {
        "id": "23f5779608b31b2e",
        "type": "delay",
        "z": "1f71719cabb831b2",
        "name": "5s",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 630,
        "y": 500,
        "wires": [
            [
                "b9e491bb11c3fea9",
                "0de509fe7c60ae99"
            ]
        ]
    },
    {
        "id": "aa262e3a0e015230",
        "type": "switch",
        "z": "1f71719cabb831b2",
        "name": "ping.fail",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 400,
        "y": 500,
        "wires": [
            [
                "23f5779608b31b2e",
                "1b987b73a33bbbfb"
            ]
        ]
    },
    {
        "id": "98ba6bebe6d2ef29",
        "type": "ping",
        "z": "1f71719cabb831b2",
        "protocol": "Automatic",
        "mode": "triggered",
        "name": "ping2",
        "host": "www.google.de",
        "timer": "20",
        "inputs": 1,
        "x": 190,
        "y": 460,
        "wires": [
            [
                "aa262e3a0e015230",
                "15d9d3f666ca8d43"
            ]
        ]
    },
    {
        "id": "0172a676f85f947c",
        "type": "switch",
        "z": "1f71719cabb831b2",
        "name": "ping.fail",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 400,
        "y": 540,
        "wires": [
            [
                "3b5db39a83da43af",
                "1b987b73a33bbbfb"
            ]
        ]
    },
    {
        "id": "b9e491bb11c3fea9",
        "type": "ping",
        "z": "1f71719cabb831b2",
        "protocol": "Automatic",
        "mode": "triggered",
        "name": "ping3",
        "host": "www.google.de",
        "timer": "20",
        "inputs": 1,
        "x": 190,
        "y": 540,
        "wires": [
            [
                "0172a676f85f947c",
                "15d9d3f666ca8d43"
            ]
        ]
    },
    {
        "id": "1127f77901548661",
        "type": "link in",
        "z": "1f71719cabb831b2",
        "name": "link in 1",
        "links": [
            "c44909d8fc084dcb",
            "5369d1516eb47db0",
            "1cc88d8d28466ca4"
        ],
        "x": 215,
        "y": 180,
        "wires": [
            [
                "b8e8c83b77de2514"
            ]
        ]
    },
    {
        "id": "c78e45e83ffe9a40",
        "type": "comment",
        "z": "1f71719cabb831b2",
        "name": "connect Wifi & login using selenium",
        "info": "Watchdog für BRB WLan Verbindung via Wlan1",
        "x": 160,
        "y": 40,
        "wires": []
    },
    {
        "id": "69fe4fbcfc1d1f55",
        "type": "comment",
        "z": "1f71719cabb831b2",
        "name": "Error Ausgänge für Statusmeldung auf Dashboard nutzen",
        "info": "",
        "x": 270,
        "y": 80,
        "wires": []
    },
    {
        "id": "2017a666b2bac241",
        "type": "ui_led",
        "z": "1f71719cabb831b2",
        "order": 2,
        "group": "ded9de771fc64da5",
        "width": 2,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#ffff00",
                "value": "yellow",
                "valueType": "str"
            },
            {
                "color": "#0000ff",
                "value": "blue",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 850,
        "y": 1520,
        "wires": []
    },
    {
        "id": "5c3a189dd7c69f6d",
        "type": "change",
        "z": "1f71719cabb831b2",
        "name": "red",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 1520,
        "wires": [
            [
                "2017a666b2bac241"
            ]
        ]
    },
    {
        "id": "2a85205f2cd8f5b6",
        "type": "change",
        "z": "1f71719cabb831b2",
        "name": "yellow",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "yellow",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 1640,
        "wires": [
            [
                "2017a666b2bac241"
            ]
        ]
    },
    {
        "id": "79c8d5256bb98436",
        "type": "switch",
        "z": "1f71719cabb831b2",
        "name": "ping ok",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "1",
                "vt": "num",
                "v2": "2000",
                "v2t": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 400,
        "y": 380,
        "wires": [
            [
                "a81ad89c614b7af3"
            ]
        ]
    },
    {
        "id": "34893da4546fee87",
        "type": "change",
        "z": "1f71719cabb831b2",
        "name": "green",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 1600,
        "wires": [
            [
                "2017a666b2bac241"
            ]
        ]
    },
    {
        "id": "a87aafe89960549f",
        "type": "switch",
        "z": "1f71719cabb831b2",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "Connection 'BRB WLAN' successfully deactivated",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Error: 'BRB WLAN' is not an active connection.",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 630,
        "y": 140,
        "wires": [
            [
                "1491330c62971d65",
                "c983335de508cd7a"
            ],
            [
                "175f3d1709c45b1d"
            ]
        ]
    },
    {
        "id": "4747ac6c48f516a5",
        "type": "switch",
        "z": "1f71719cabb831b2",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "Connection successfully activated",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 950,
        "y": 160,
        "wires": [
            [
                "3a7445fb8c80d433",
                "ff7d8f497c64575c"
            ]
        ]
    },
    {
        "id": "8c7756e68ca09ca4",
        "type": "ip",
        "z": "1f71719cabb831b2",
        "name": "ip",
        "https": false,
        "timeout": "5000",
        "internalIPv4": true,
        "internalIPv6": false,
        "publicIPv4": false,
        "publicIPv6": false,
        "x": 390,
        "y": 1800,
        "wires": [
            [
                "fd96e5a7587950b6"
            ]
        ]
    },
    {
        "id": "b2178fe3e91923db",
        "type": "switch",
        "z": "1f71719cabb831b2",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "connected",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1250,
        "y": 200,
        "wires": [
            [
                "eb0d67d31c45b899"
            ]
        ]
    },
    {
        "id": "0b251e7d163de00c",
        "type": "inject",
        "z": "1f71719cabb831b2",
        "name": "stop_wifi_watchdog",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 150,
        "y": 700,
        "wires": [
            [
                "fd01996cba58246c"
            ]
        ]
    },
    {
        "id": "8d289ae918fa980a",
        "type": "ui_text",
        "z": "1f71719cabb831b2",
        "group": "ded9de771fc64da5",
        "order": 32,
        "width": 20,
        "height": 4,
        "name": "network status",
        "label": "",
        "format": "{{payload[0]}}<br>{{payload[1]}}<br>{{payload[2]}}<br>{{payload[3]}}<br>{{payload[4]}}",
        "layout": "row-left",
        "className": "",
        "x": 660,
        "y": 1840,
        "wires": []
    },
    {
        "id": "b62ceec6e40e3678",
        "type": "ui_button",
        "z": "1f71719cabb831b2",
        "name": "",
        "group": "ded9de771fc64da5",
        "order": 24,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "reconnect",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 980,
        "wires": [
            [
                "1cc88d8d28466ca4"
            ]
        ]
    },
    {
        "id": "d6f74682b20be55d",
        "type": "change",
        "z": "1f71719cabb831b2",
        "name": "pingFormat",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "ping",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload & ' ms'",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 1620,
        "wires": [
            [
                "a8e705871177650a"
            ]
        ]
    },
    {
        "id": "09d6110115b797d4",
        "type": "change",
        "z": "1f71719cabb831b2",
        "name": "wifidn",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Connection 'BRB WLAN' successfully deactivated",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 1400,
        "wires": [
            [
                "e3e72db2ab7c4965",
                "5c3a189dd7c69f6d"
            ]
        ]
    },
    {
        "id": "ed6a5b540219c61b",
        "type": "change",
        "z": "1f71719cabb831b2",
        "name": "wifiup",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "wifi connected to BRB WLAN",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 1440,
        "wires": [
            [
                "e3e72db2ab7c4965",
                "2a85205f2cd8f5b6"
            ]
        ]
    },
    {
        "id": "1ad4ef719e5d2c41",
        "type": "ui_text",
        "z": "1f71719cabb831b2",
        "group": "ded9de771fc64da5",
        "order": 17,
        "width": 7,
        "height": 1,
        "name": "",
        "label": "IP: ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 850,
        "y": 1800,
        "wires": []
    },
    {
        "id": "7d608f695ff73e62",
        "type": "change",
        "z": "1f71719cabb831b2",
        "name": "online",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "logged in to BRB Wlan",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 1520,
        "wires": [
            [
                "a8e705871177650a",
                "6dfacd5d495ca0d5",
                "e3e72db2ab7c4965"
            ]
        ]
    },
    {
        "id": "a8e705871177650a",
        "type": "ui_text",
        "z": "1f71719cabb831b2",
        "group": "ded9de771fc64da5",
        "order": 13,
        "width": 7,
        "height": 1,
        "name": "",
        "label": "ping: ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 630,
        "y": 1760,
        "wires": []
    },
    {
        "id": "fd96e5a7587950b6",
        "type": "change",
        "z": "1f71719cabb831b2",
        "name": "ip4.int",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.internalIPv4",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 1800,
        "wires": [
            [
                "1ad4ef719e5d2c41"
            ]
        ]
    },
    {
        "id": "1a515cdd316e9fbc",
        "type": "change",
        "z": "1f71719cabb831b2",
        "name": "off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 380,
        "wires": [
            [
                "c6d35353014e80db"
            ]
        ]
    },
    {
        "id": "4eedc673339332f3",
        "type": "change",
        "z": "1f71719cabb831b2",
        "name": "on",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 460,
        "wires": [
            [
                "c6d35353014e80db"
            ]
        ]
    },
    {
        "id": "c6d35353014e80db",
        "type": "link out",
        "z": "1f71719cabb831b2",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "8a486da57b6e627e"
        ],
        "x": 775,
        "y": 380,
        "wires": []
    },
    {
        "id": "8a486da57b6e627e",
        "type": "link in",
        "z": "1f71719cabb831b2",
        "name": "link in 2",
        "links": [
            "c6d35353014e80db"
        ],
        "x": 225,
        "y": 660,
        "wires": [
            [
                "fd01996cba58246c"
            ]
        ]
    },
    {
        "id": "15d9d3f666ca8d43",
        "type": "switch",
        "z": "1f71719cabb831b2",
        "name": "ping ok",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "1",
                "vt": "num",
                "v2": "2000",
                "v2t": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 400,
        "y": 460,
        "wires": [
            [
                "4eedc673339332f3",
                "a81ad89c614b7af3"
            ]
        ]
    },
    {
        "id": "5369d1516eb47db0",
        "type": "link out",
        "z": "1f71719cabb831b2",
        "name": "reconnect",
        "mode": "link",
        "links": [
            "1127f77901548661",
            "addd8b795a04abfa"
        ],
        "x": 775,
        "y": 540,
        "wires": []
    },
    {
        "id": "175f3d1709c45b1d",
        "type": "exec",
        "z": "1f71719cabb831b2",
        "command": "sudo nmcli device connect wlan1",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "wifi connect",
        "x": 410,
        "y": 200,
        "wires": [
            [
                "43ce7f17fe8f0d2d"
            ],
            [],
            []
        ]
    },
    {
        "id": "1b64e36c189b0ed3",
        "type": "change",
        "z": "1f71719cabb831b2",
        "name": "wificon",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Device 'wlan1' successfully activated",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 1480,
        "wires": [
            [
                "e3e72db2ab7c4965"
            ]
        ]
    },
    {
        "id": "43ce7f17fe8f0d2d",
        "type": "switch",
        "z": "1f71719cabb831b2",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "Device 'wlan1' successfully activated",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 630,
        "y": 200,
        "wires": [
            [
                "4d272df352a941d5",
                "1491330c62971d65"
            ]
        ]
    },
    {
        "id": "c1cc33f6a50f7b5b",
        "type": "change",
        "z": "1f71719cabb831b2",
        "name": "blue",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "blue",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 1560,
        "wires": [
            [
                "2017a666b2bac241"
            ]
        ]
    },
    {
        "id": "69c309a604df21c8",
        "type": "ui_button",
        "z": "1f71719cabb831b2",
        "name": "",
        "group": "ded9de771fc64da5",
        "order": 25,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "login",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 1020,
        "wires": [
            [
                "4d7a62300d39fac7"
            ]
        ]
    },
    {
        "id": "3b5db39a83da43af",
        "type": "change",
        "z": "1f71719cabb831b2",
        "name": "true",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 540,
        "wires": [
            [
                "5369d1516eb47db0"
            ]
        ]
    },
    {
        "id": "d4da5d755ba47d14",
        "type": "inject",
        "z": "1f71719cabb831b2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "syscontrol",
        "payloadType": "str",
        "x": 170,
        "y": 1960,
        "wires": [
            [
                "403cfc20b368c04e",
                "a8703941e1afc109",
                "068835ce1c5469ad"
            ]
        ]
    },
    {
        "id": "ac44c58a965455f2",
        "type": "ui_slider",
        "z": "1f71719cabb831b2",
        "name": "bcklght adjust",
        "label": "{{topic}}",
        "tooltip": "",
        "group": "ded9de771fc64da5",
        "order": 4,
        "width": 1,
        "height": 5,
        "passthru": false,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "15",
        "max": "100",
        "step": "10",
        "className": "",
        "x": 160,
        "y": 1140,
        "wires": [
            [
                "be720143fe43c1eb"
            ]
        ]
    },
    {
        "id": "26c1e1548917693c",
        "type": "ui_digital_clock",
        "z": "1f71719cabb831b2",
        "name": "",
        "group": "2549cedd67b83eef",
        "order": 2,
        "width": 16,
        "height": 4,
        "x": 410,
        "y": 1260,
        "wires": []
    },
    {
        "id": "7b36b1377f9f2dac",
        "type": "inject",
        "z": "1f71719cabb831b2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.5",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 1220,
        "wires": [
            [
                "26c1e1548917693c",
                "842fd829c216084e"
            ]
        ]
    },
    {
        "id": "fca16781a32a689a",
        "type": "ui_button",
        "z": "1f71719cabb831b2",
        "name": "wake",
        "group": "4fe5a80a239aed94",
        "order": 1,
        "width": 20,
        "height": 9,
        "passthru": false,
        "label": "WAKE ME UP",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "syscontrol",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 1100,
        "wires": [
            [
                "be46f42f70012fc0"
            ]
        ]
    },
    {
        "id": "842fd829c216084e",
        "type": "ui_digital_clock",
        "z": "1f71719cabb831b2",
        "name": "",
        "group": "ded9de771fc64da5",
        "order": 6,
        "width": 9,
        "height": 4,
        "x": 410,
        "y": 1220,
        "wires": []
    },
    {
        "id": "068835ce1c5469ad",
        "type": "trigger",
        "z": "1f71719cabb831b2",
        "name": "1m clock",
        "op1": "",
        "op2": "clock",
        "op1type": "nul",
        "op2type": "str",
        "duration": "1",
        "extend": true,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 400,
        "y": 1940,
        "wires": [
            [
                "c557a97414511a3f",
                "ddaf6fd8a702b936",
                "403cfc20b368c04e"
            ]
        ]
    },
    {
        "id": "bf1cf65d468bd5c5",
        "type": "ui_button",
        "z": "1f71719cabb831b2",
        "name": "back",
        "group": "2549cedd67b83eef",
        "order": 28,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "..back to overview",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "syscontrol",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 1060,
        "wires": [
            [
                "e88e36649f0908c9"
            ]
        ]
    },
    {
        "id": "403cfc20b368c04e",
        "type": "ui_ui_control",
        "z": "1f71719cabb831b2",
        "name": "change tab",
        "events": "all",
        "x": 650,
        "y": 2080,
        "wires": [
            []
        ]
    },
    {
        "id": "c557a97414511a3f",
        "type": "trigger",
        "z": "1f71719cabb831b2",
        "name": "15m blank",
        "op1": "",
        "op2": "blank",
        "op1type": "nul",
        "op2type": "str",
        "duration": "120",
        "extend": true,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 650,
        "y": 1960,
        "wires": [
            [
                "d8a82e374b31f622",
                "403cfc20b368c04e"
            ]
        ]
    },
    {
        "id": "91f65465ee3be780",
        "type": "ui_button",
        "z": "1f71719cabb831b2",
        "name": "",
        "group": "ded9de771fc64da5",
        "order": 27,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "clock",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "clock",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 1180,
        "wires": [
            [
                "8acd3cfa0ddd3b9f"
            ]
        ]
    },
    {
        "id": "13bf325d10273af6",
        "type": "comment",
        "z": "1f71719cabb831b2",
        "name": "screensaver & backlight",
        "info": "",
        "x": 130,
        "y": 1920,
        "wires": []
    },
    {
        "id": "94934735e3df84af",
        "type": "change",
        "z": "1f71719cabb831b2",
        "name": "cli",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "'echo ' & payload & ' | sudo tee /sys/class/backlight/10-0045/brightness'",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 2040,
        "wires": [
            [
                "85785a43d572a20a"
            ]
        ],
        "info": "echo {{payload}} | sudo tee /sys/class/backlight/10-0045/brightness"
    },
    {
        "id": "85785a43d572a20a",
        "type": "exec",
        "z": "1f71719cabb831b2",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "bcklght manual",
        "x": 1260,
        "y": 2040,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "95c3022f0f545a24",
        "type": "change",
        "z": "1f71719cabb831b2",
        "name": "time",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 1680,
        "wires": [
            [
                "6b8b90a1e17384f9",
                "2b11ba3c427f5b2c"
            ]
        ]
    },
    {
        "id": "6b8b90a1e17384f9",
        "type": "ui_digital_clock",
        "z": "1f71719cabb831b2",
        "name": "last ping",
        "group": "ded9de771fc64da5",
        "order": 9,
        "width": 3,
        "height": 1,
        "x": 640,
        "y": 1680,
        "wires": []
    },
    {
        "id": "a8703941e1afc109",
        "type": "change",
        "z": "1f71719cabb831b2",
        "name": "bcklght bright",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "100",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 2000,
        "wires": [
            [
                "94934735e3df84af",
                "ef72f6633c1ee389"
            ]
        ]
    },
    {
        "id": "ddaf6fd8a702b936",
        "type": "change",
        "z": "1f71719cabb831b2",
        "name": "bcklght dim",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "35",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 2040,
        "wires": [
            [
                "94934735e3df84af",
                "ef72f6633c1ee389"
            ]
        ]
    },
    {
        "id": "d8a82e374b31f622",
        "type": "change",
        "z": "1f71719cabb831b2",
        "name": "bcklght off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 1960,
        "wires": [
            [
                "94934735e3df84af",
                "ef72f6633c1ee389"
            ]
        ]
    },
    {
        "id": "32fc8cf9977bc158",
        "type": "change",
        "z": "1f71719cabb831b2",
        "name": "ping error",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "host unreachable",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 1720,
        "wires": [
            [
                "a8e705871177650a"
            ]
        ]
    },
    {
        "id": "2b11ba3c427f5b2c",
        "type": "ui_text",
        "z": "1f71719cabb831b2",
        "group": "ded9de771fc64da5",
        "order": 8,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "",
        "format": "last Ping at",
        "layout": "row-right",
        "className": "",
        "x": 630,
        "y": 1720,
        "wires": []
    },
    {
        "id": "9c31385412467792",
        "type": "change",
        "z": "1f71719cabb831b2",
        "name": "pinging",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "...pinging...",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 1760,
        "wires": [
            [
                "a8e705871177650a"
            ]
        ]
    },
    {
        "id": "47ebeb51f4f9047a",
        "type": "change",
        "z": "1f71719cabb831b2",
        "name": "reconn",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "reconnecting...",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 1560,
        "wires": [
            [
                "a8e705871177650a",
                "e3e72db2ab7c4965",
                "c1cc33f6a50f7b5b"
            ]
        ]
    },
    {
        "id": "43bfc95bffd9787c",
        "type": "file",
        "z": "1f71719cabb831b2",
        "name": "log 1 write",
        "filename": "/home/fish/.node-red/projects/fishcontrol/files/log1",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 870,
        "y": 1400,
        "wires": [
            []
        ]
    },
    {
        "id": "6dfacd5d495ca0d5",
        "type": "ip",
        "z": "1f71719cabb831b2",
        "name": "ip",
        "https": false,
        "timeout": "5000",
        "internalIPv4": true,
        "internalIPv6": false,
        "publicIPv4": false,
        "publicIPv6": false,
        "x": 630,
        "y": 1360,
        "wires": [
            [
                "e3e72db2ab7c4965"
            ]
        ]
    },
    {
        "id": "e3e72db2ab7c4965",
        "type": "change",
        "z": "1f71719cabb831b2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$now('[H01]:[m01]:[s01] - [D01].[M01].[Y0001]', \"+0100\") & ' -> ' & payload",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 1360,
        "wires": [
            [
                "43bfc95bffd9787c"
            ]
        ]
    },
    {
        "id": "f75058d219f71470",
        "type": "inject",
        "z": "1f71719cabb831b2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 1360,
        "wires": [
            [
                "6dfacd5d495ca0d5"
            ]
        ]
    },
    {
        "id": "06641b3104c2ddb6",
        "type": "link in",
        "z": "1f71719cabb831b2",
        "name": "WDon",
        "links": [
            "eb0d67d31c45b899"
        ],
        "x": 445,
        "y": 580,
        "wires": [
            [
                "4eedc673339332f3"
            ]
        ]
    },
    {
        "id": "9ff115ce87739613",
        "type": "link in",
        "z": "1f71719cabb831b2",
        "name": "WDoff",
        "links": [
            "4d7a62300d39fac7",
            "1cc88d8d28466ca4"
        ],
        "x": 445,
        "y": 340,
        "wires": [
            [
                "1a515cdd316e9fbc"
            ]
        ]
    },
    {
        "id": "eb0d67d31c45b899",
        "type": "link out",
        "z": "1f71719cabb831b2",
        "name": "connected",
        "mode": "link",
        "links": [
            "06641b3104c2ddb6",
            "d4c08afe286d03ca",
            "1e3ab4a8de404771"
        ],
        "x": 1335,
        "y": 200,
        "wires": []
    },
    {
        "id": "d4c08afe286d03ca",
        "type": "link in",
        "z": "1f71719cabb831b2",
        "name": "dispOnline",
        "links": [
            "eb0d67d31c45b899"
        ],
        "x": 225,
        "y": 1520,
        "wires": [
            [
                "7d608f695ff73e62"
            ]
        ]
    },
    {
        "id": "1e3ab4a8de404771",
        "type": "link in",
        "z": "1f71719cabb831b2",
        "name": "startPing1",
        "links": [
            "eb0d67d31c45b899",
            "7c3e8a1e6a3cdd33"
        ],
        "x": 65,
        "y": 380,
        "wires": [
            [
                "32150a22cf2e312d"
            ]
        ]
    },
    {
        "id": "3e12e45dff3bbbf1",
        "type": "link in",
        "z": "1f71719cabb831b2",
        "name": "dispWifidown",
        "links": [
            "c983335de508cd7a"
        ],
        "x": 225,
        "y": 1400,
        "wires": [
            [
                "09d6110115b797d4"
            ]
        ]
    },
    {
        "id": "c983335de508cd7a",
        "type": "link out",
        "z": "1f71719cabb831b2",
        "name": "Wifidown",
        "mode": "link",
        "links": [
            "3e12e45dff3bbbf1"
        ],
        "x": 775,
        "y": 120,
        "wires": []
    },
    {
        "id": "ff7d8f497c64575c",
        "type": "link out",
        "z": "1f71719cabb831b2",
        "name": "Wifiup",
        "mode": "link",
        "links": [
            "882dcc6e31387037"
        ],
        "x": 1055,
        "y": 160,
        "wires": []
    },
    {
        "id": "882dcc6e31387037",
        "type": "link in",
        "z": "1f71719cabb831b2",
        "name": "dispWifiup",
        "links": [
            "ff7d8f497c64575c"
        ],
        "x": 225,
        "y": 1440,
        "wires": [
            [
                "ed6a5b540219c61b"
            ]
        ]
    },
    {
        "id": "4d272df352a941d5",
        "type": "link out",
        "z": "1f71719cabb831b2",
        "name": "Wificonnected",
        "mode": "link",
        "links": [
            "393163b6b0bd7163"
        ],
        "x": 775,
        "y": 200,
        "wires": []
    },
    {
        "id": "393163b6b0bd7163",
        "type": "link in",
        "z": "1f71719cabb831b2",
        "name": "dispWificonnected",
        "links": [
            "4d272df352a941d5"
        ],
        "x": 225,
        "y": 1480,
        "wires": [
            [
                "1b64e36c189b0ed3"
            ]
        ]
    },
    {
        "id": "7c3e8a1e6a3cdd33",
        "type": "link out",
        "z": "1f71719cabb831b2",
        "name": "interval15",
        "mode": "link",
        "links": [
            "1e3ab4a8de404771",
            "1fc9ce23e5978e21"
        ],
        "x": 755,
        "y": 680,
        "wires": []
    },
    {
        "id": "1fc9ce23e5978e21",
        "type": "link in",
        "z": "1f71719cabb831b2",
        "name": "dispPinging",
        "links": [
            "7c3e8a1e6a3cdd33"
        ],
        "x": 225,
        "y": 1760,
        "wires": [
            [
                "8c7756e68ca09ca4",
                "9c31385412467792"
            ]
        ]
    },
    {
        "id": "1b987b73a33bbbfb",
        "type": "link out",
        "z": "1f71719cabb831b2",
        "name": "pingError",
        "mode": "link",
        "links": [
            "5ad563cc6218c24d",
            "2e1fde82257324ad"
        ],
        "x": 595,
        "y": 580,
        "wires": []
    },
    {
        "id": "a81ad89c614b7af3",
        "type": "link out",
        "z": "1f71719cabb831b2",
        "name": "pingOK",
        "mode": "link",
        "links": [
            "daf31853d6b1f39b"
        ],
        "x": 595,
        "y": 340,
        "wires": []
    },
    {
        "id": "daf31853d6b1f39b",
        "type": "link in",
        "z": "1f71719cabb831b2",
        "name": "dispPingOK",
        "links": [
            "a81ad89c614b7af3"
        ],
        "x": 225,
        "y": 1600,
        "wires": [
            [
                "95c3022f0f545a24",
                "34893da4546fee87",
                "d6f74682b20be55d"
            ]
        ]
    },
    {
        "id": "4d7a62300d39fac7",
        "type": "link out",
        "z": "1f71719cabb831b2",
        "name": "btnLogin",
        "mode": "link",
        "links": [
            "9ff115ce87739613",
            "4d3eef3520fdf581"
        ],
        "x": 355,
        "y": 1020,
        "wires": []
    },
    {
        "id": "1cc88d8d28466ca4",
        "type": "link out",
        "z": "1f71719cabb831b2",
        "name": "btnReconnect",
        "mode": "link",
        "links": [
            "9ff115ce87739613",
            "addd8b795a04abfa",
            "1127f77901548661"
        ],
        "x": 355,
        "y": 980,
        "wires": []
    },
    {
        "id": "addd8b795a04abfa",
        "type": "link in",
        "z": "1f71719cabb831b2",
        "name": "dispReconnect",
        "links": [
            "1cc88d8d28466ca4",
            "5369d1516eb47db0"
        ],
        "x": 225,
        "y": 1560,
        "wires": [
            [
                "47ebeb51f4f9047a"
            ]
        ]
    },
    {
        "id": "5ad563cc6218c24d",
        "type": "link in",
        "z": "1f71719cabb831b2",
        "name": "btnBack",
        "links": [
            "1b987b73a33bbbfb"
        ],
        "x": 75,
        "y": 1060,
        "wires": [
            [
                "bf1cf65d468bd5c5"
            ]
        ]
    },
    {
        "id": "4d3eef3520fdf581",
        "type": "link in",
        "z": "1f71719cabb831b2",
        "name": "execConnect",
        "links": [
            "4d7a62300d39fac7"
        ],
        "x": 985,
        "y": 200,
        "wires": [
            [
                "3a7445fb8c80d433"
            ]
        ]
    },
    {
        "id": "0de509fe7c60ae99",
        "type": "link out",
        "z": "1f71719cabb831b2",
        "name": "pinging",
        "mode": "link",
        "links": [],
        "x": 775,
        "y": 460,
        "wires": []
    },
    {
        "id": "2e1fde82257324ad",
        "type": "link in",
        "z": "1f71719cabb831b2",
        "name": "dispPingError",
        "links": [
            "1b987b73a33bbbfb"
        ],
        "x": 225,
        "y": 1640,
        "wires": [
            [
                "32fc8cf9977bc158",
                "95c3022f0f545a24",
                "d6f74682b20be55d",
                "2a85205f2cd8f5b6"
            ]
        ]
    },
    {
        "id": "874a5750264a233e",
        "type": "link in",
        "z": "1f71719cabb831b2",
        "name": "btnBack",
        "links": [
            "e88e36649f0908c9",
            "be46f42f70012fc0"
        ],
        "x": 225,
        "y": 2000,
        "wires": [
            [
                "068835ce1c5469ad",
                "403cfc20b368c04e",
                "a8703941e1afc109"
            ]
        ]
    },
    {
        "id": "e88e36649f0908c9",
        "type": "link out",
        "z": "1f71719cabb831b2",
        "name": "btnBack",
        "mode": "link",
        "links": [
            "874a5750264a233e"
        ],
        "x": 355,
        "y": 1060,
        "wires": []
    },
    {
        "id": "be46f42f70012fc0",
        "type": "link out",
        "z": "1f71719cabb831b2",
        "name": "btnWake",
        "mode": "link",
        "links": [
            "874a5750264a233e"
        ],
        "x": 355,
        "y": 1100,
        "wires": []
    },
    {
        "id": "be720143fe43c1eb",
        "type": "link out",
        "z": "1f71719cabb831b2",
        "name": "btnBackLightAdjust",
        "mode": "link",
        "links": [
            "8ceecab723c09910"
        ],
        "x": 355,
        "y": 1140,
        "wires": []
    },
    {
        "id": "8ceecab723c09910",
        "type": "link in",
        "z": "1f71719cabb831b2",
        "name": "sliderBackLighAdjust",
        "links": [
            "be720143fe43c1eb"
        ],
        "x": 925,
        "y": 2080,
        "wires": [
            [
                "94934735e3df84af",
                "ef72f6633c1ee389"
            ]
        ]
    },
    {
        "id": "883fb7b8c50b6435",
        "type": "comment",
        "z": "1f71719cabb831b2",
        "name": "Ping Timer",
        "info": "",
        "x": 80,
        "y": 320,
        "wires": []
    },
    {
        "id": "5bad5acb4b83b929",
        "type": "comment",
        "z": "1f71719cabb831b2",
        "name": "Dashboard - System Pages",
        "info": "",
        "x": 140,
        "y": 620,
        "wires": []
    },
    {
        "id": "55b54b6bad573ec8",
        "type": "link in",
        "z": "1f71719cabb831b2",
        "name": "btnClock",
        "links": [
            "8acd3cfa0ddd3b9f"
        ],
        "x": 225,
        "y": 2040,
        "wires": [
            [
                "c557a97414511a3f",
                "403cfc20b368c04e",
                "ddaf6fd8a702b936"
            ]
        ]
    },
    {
        "id": "8acd3cfa0ddd3b9f",
        "type": "link out",
        "z": "1f71719cabb831b2",
        "name": "btnClock",
        "mode": "link",
        "links": [
            "55b54b6bad573ec8"
        ],
        "x": 355,
        "y": 1180,
        "wires": []
    },
    {
        "id": "89f5039bfbf88c8c",
        "type": "buffer-array",
        "z": "1f71719cabb831b2",
        "name": "",
        "bufferLen": "5",
        "startWhenFilled": false,
        "x": 410,
        "y": 1840,
        "wires": [
            [
                "8d289ae918fa980a"
            ]
        ]
    },
    {
        "id": "9c0e77505ebe6f2a",
        "type": "tail",
        "z": "1f71719cabb831b2",
        "name": "log1 read",
        "filetype": "text",
        "split": "[\\r]{0,1}\\n",
        "filename": "/home/fish/.node-red/projects/fishcontrol/files/log1",
        "inputs": 0,
        "x": 180,
        "y": 1840,
        "wires": [
            [
                "89f5039bfbf88c8c"
            ]
        ]
    },
    {
        "id": "62e232d95274f7aa",
        "type": "link in",
        "z": "1f71719cabb831b2",
        "name": "bcklghtAdjust",
        "links": [
            "315c9a5523309c1b",
            "2a1d32bbfa5d8153"
        ],
        "x": 35,
        "y": 1140,
        "wires": [
            [
                "ac44c58a965455f2"
            ]
        ]
    },
    {
        "id": "4c93d011e01217e4",
        "type": "exec",
        "z": "1f71719cabb831b2",
        "command": "pkill -15 chromium",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 430,
        "y": 860,
        "wires": [
            [
                "f5a4c318c4389aa3"
            ],
            [],
            []
        ]
    },
    {
        "id": "f5a4c318c4389aa3",
        "type": "exec",
        "z": "1f71719cabb831b2",
        "command": "sudo reboot now",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 670,
        "y": 860,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "18273ab4afbfd524",
        "type": "exec",
        "z": "1f71719cabb831b2",
        "command": "DISPLAY=:0 chromium-browser  --noerrdialogs --disable-infobars --kiosk http://localhost:1880/ui",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "start chromium",
        "x": 420,
        "y": 740,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "695caeba2b6e07fe",
        "type": "ui_button",
        "z": "1f71719cabb831b2",
        "name": "",
        "group": "ded9de771fc64da5",
        "order": 30,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "reboot",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 860,
        "wires": [
            [
                "4c93d011e01217e4"
            ]
        ]
    },
    {
        "id": "a45a78c747cccbcf",
        "type": "exec",
        "z": "1f71719cabb831b2",
        "command": "pkill -15 chromium",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 430,
        "y": 920,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "2c0a8d82d20ae752",
        "type": "ui_button",
        "z": "1f71719cabb831b2",
        "name": "",
        "group": "ded9de771fc64da5",
        "order": 29,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "exit",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 920,
        "wires": [
            [
                "a45a78c747cccbcf"
            ]
        ]
    },
    {
        "id": "54fa9063b79fdfe3",
        "type": "ui_button",
        "z": "1f71719cabb831b2",
        "name": "",
        "group": "ded9de771fc64da5",
        "order": 31,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "shutdown",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 800,
        "wires": [
            [
                "a2b5d0131d2830af"
            ]
        ]
    },
    {
        "id": "cf72a8e4e28e24bf",
        "type": "exec",
        "z": "1f71719cabb831b2",
        "command": "sudo shutdown now",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 680,
        "y": 800,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "a2b5d0131d2830af",
        "type": "exec",
        "z": "1f71719cabb831b2",
        "command": "pkill -15 chromium",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 430,
        "y": 800,
        "wires": [
            [
                "cf72a8e4e28e24bf"
            ],
            [],
            []
        ]
    },
    {
        "id": "ef72f6633c1ee389",
        "type": "change",
        "z": "1f71719cabb831b2",
        "name": "topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 2000,
        "wires": [
            [
                "2a1d32bbfa5d8153"
            ]
        ]
    },
    {
        "id": "2a1d32bbfa5d8153",
        "type": "link out",
        "z": "1f71719cabb831b2",
        "name": "link out 3",
        "mode": "link",
        "links": [
            "62e232d95274f7aa"
        ],
        "x": 1195,
        "y": 2000,
        "wires": []
    },
    {
        "id": "048a9bfbadaa406d",
        "type": "comment",
        "z": "1f71719cabb831b2",
        "name": "",
        "info": "",
        "x": 100,
        "y": 1320,
        "wires": []
    },
    {
        "id": "b0ede0269d8bbe42",
        "type": "ui_media",
        "z": "5e246f6c64b79f72",
        "group": "2549cedd67b83eef",
        "name": "weathermap",
        "width": 8,
        "height": 7,
        "order": 11,
        "category": "wetter",
        "file": "radfilm_bbb_akt.gif",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 930,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "346d954bc9902978",
        "type": "ui_digital_clock",
        "z": "5e246f6c64b79f72",
        "name": "",
        "group": "2549cedd67b83eef",
        "order": 26,
        "width": 2,
        "height": 1,
        "x": 930,
        "y": 220,
        "wires": []
    },
    {
        "id": "8e337d9b3201b995",
        "type": "change",
        "z": "5e246f6c64b79f72",
        "name": "link",
        "rules": [
            {
                "t": "set",
                "p": "src",
                "pt": "msg",
                "to": " https://www.dwd.de/DWD/wetter/radar/radfilm_bbb_akt.gif",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 180,
        "wires": [
            [
                "b0ede0269d8bbe42",
                "37511056ee882e37"
            ]
        ]
    },
    {
        "id": "d60be81f1bd63444",
        "type": "trigger",
        "z": "5e246f6c64b79f72",
        "name": "int55s",
        "op1": "1",
        "op2": "1",
        "op1type": "str",
        "op2type": "str",
        "duration": "-5",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 470,
        "y": 140,
        "wires": [
            [
                "8e337d9b3201b995",
                "2a5e9387ee8d2568"
            ]
        ]
    },
    {
        "id": "880b9dad88d8259e",
        "type": "ui_switch",
        "z": "5e246f6c64b79f72",
        "name": "",
        "label": "radar update",
        "tooltip": "",
        "group": "ded9de771fc64da5",
        "order": 21,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 290,
        "y": 140,
        "wires": [
            [
                "d60be81f1bd63444"
            ]
        ]
    },
    {
        "id": "b7f8f7ebe5220f6a",
        "type": "inject",
        "z": "5e246f6c64b79f72",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "880b9dad88d8259e",
                "8e337d9b3201b995"
            ]
        ]
    },
    {
        "id": "37511056ee882e37",
        "type": "change",
        "z": "5e246f6c64b79f72",
        "name": "time",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 220,
        "wires": [
            [
                "346d954bc9902978"
            ]
        ]
    },
    {
        "id": "2555f71f5122b4db",
        "type": "exec",
        "z": "5e246f6c64b79f72",
        "command": "curl -# -O --output-dir /home/fish/.node-red/projects/fishcontrol/files/wetter/radar/temp/ https://www.dwd.de/DWD/wetter/radar/radfilm_bbb_akt.gif",
        "addpay": "",
        "append": "",
        "useSpawn": "true",
        "timer": "300",
        "winHide": false,
        "oldrc": false,
        "name": "gif dnload",
        "x": 280,
        "y": 400,
        "wires": [
            [],
            [
                "e5218ba6dc918682",
                "4bc848bcde9c106f"
            ],
            []
        ]
    },
    {
        "id": "e5218ba6dc918682",
        "type": "switch",
        "z": "5e246f6c64b79f72",
        "name": "if100%",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "100.0%",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 470,
        "y": 440,
        "wires": [
            [
                "0d4d1dd0280a2edd",
                "9265e6263cbe685e"
            ]
        ]
    },
    {
        "id": "e3e03e4205c66f27",
        "type": "inject",
        "z": "5e246f6c64b79f72",
        "name": "100.0%",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "100.0%",
        "payloadType": "str",
        "x": 290,
        "y": 460,
        "wires": [
            [
                "e5218ba6dc918682"
            ]
        ]
    },
    {
        "id": "3cde9b74e2cf03a6",
        "type": "ui_led",
        "z": "5e246f6c64b79f72",
        "order": 25,
        "group": "2549cedd67b83eef",
        "width": 3,
        "height": 1,
        "label": "download",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#0000ff",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#4a4a4a",
                "value": "grey",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 1230,
        "y": 440,
        "wires": []
    },
    {
        "id": "65402a2498ef9275",
        "type": "change",
        "z": "5e246f6c64b79f72",
        "name": "blink",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 500,
        "wires": [
            [
                "3cfc2cfa8efa1143"
            ]
        ]
    },
    {
        "id": "0d4d1dd0280a2edd",
        "type": "change",
        "z": "5e246f6c64b79f72",
        "name": "true",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 440,
        "wires": [
            [
                "3cde9b74e2cf03a6",
                "4a0bccd463a823e4"
            ]
        ]
    },
    {
        "id": "3cfc2cfa8efa1143",
        "type": "trigger",
        "z": "5e246f6c64b79f72",
        "name": "1s",
        "op1": "false",
        "op2": "0",
        "op1type": "bool",
        "op2type": "str",
        "duration": "-1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "stop",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 910,
        "y": 500,
        "wires": [
            [
                "206239dd1ce5331f"
            ]
        ]
    },
    {
        "id": "206239dd1ce5331f",
        "type": "trigger",
        "z": "5e246f6c64b79f72",
        "name": "0.5s",
        "op1": "false",
        "op2": "grey",
        "op1type": "bool",
        "op2type": "str",
        "duration": ".5",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "stop",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1050,
        "y": 500,
        "wires": [
            [
                "3cde9b74e2cf03a6"
            ]
        ]
    },
    {
        "id": "78bc03ad2b81dc43",
        "type": "inject",
        "z": "5e246f6c64b79f72",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 130,
        "y": 360,
        "wires": [
            [
                "65402a2498ef9275",
                "2555f71f5122b4db",
                "11d19dadf193c9cd",
                "d23bbf3edc64e785"
            ]
        ]
    },
    {
        "id": "115593a11373aa2e",
        "type": "inject",
        "z": "5e246f6c64b79f72",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 460,
        "y": 480,
        "wires": [
            [
                "0d4d1dd0280a2edd"
            ]
        ]
    },
    {
        "id": "4a0bccd463a823e4",
        "type": "change",
        "z": "5e246f6c64b79f72",
        "name": "stop",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "stop",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 460,
        "wires": [
            [
                "3cfc2cfa8efa1143"
            ]
        ]
    },
    {
        "id": "9dc74d152151d045",
        "type": "string",
        "z": "5e246f6c64b79f72",
        "name": "",
        "methods": [
            {
                "name": "between",
                "params": [
                    {
                        "type": "str",
                        "value": " "
                    },
                    {
                        "type": "str",
                        "value": "%"
                    }
                ]
            }
        ],
        "prop": "payload",
        "propout": "payload",
        "object": "msg",
        "objectout": "msg",
        "x": 610,
        "y": 380,
        "wires": [
            [
                "11d19dadf193c9cd"
            ]
        ]
    },
    {
        "id": "11d19dadf193c9cd",
        "type": "ui_artlessgauge",
        "z": "5e246f6c64b79f72",
        "group": "19542e2ab6026737",
        "order": 28,
        "width": 0,
        "height": 0,
        "name": "dnload bar",
        "icon": "",
        "label": "download",
        "unit": "%",
        "layout": "linear",
        "decimals": 0,
        "differential": false,
        "minmax": false,
        "colorTrack": "#555555",
        "style": "",
        "colorFromTheme": true,
        "property": "payload",
        "secondary": "secondary",
        "inline": true,
        "animate": true,
        "sectors": [
            {
                "val": 0,
                "col": "#ff9900",
                "t": "min",
                "dot": 0
            },
            {
                "val": 100,
                "col": "#ff9900",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": 3,
        "bgcolorFromTheme": true,
        "diffCenter": "",
        "x": 770,
        "y": 360,
        "wires": []
    },
    {
        "id": "4bc848bcde9c106f",
        "type": "switch",
        "z": "5e246f6c64b79f72",
        "name": "valid",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "%",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 470,
        "y": 380,
        "wires": [
            [
                "9dc74d152151d045"
            ]
        ]
    },
    {
        "id": "524e456d0dc76539",
        "type": "comment",
        "z": "5e246f6c64b79f72",
        "name": "display radar",
        "info": "",
        "x": 110,
        "y": 120,
        "wires": []
    },
    {
        "id": "dbb9df0efa6c777e",
        "type": "comment",
        "z": "5e246f6c64b79f72",
        "name": "download radar image",
        "info": "",
        "x": 140,
        "y": 300,
        "wires": []
    },
    {
        "id": "9265e6263cbe685e",
        "type": "link out",
        "z": "5e246f6c64b79f72",
        "name": "link out 4",
        "mode": "link",
        "links": [
            "fcf792f0b28cddd5"
        ],
        "x": 585,
        "y": 480,
        "wires": []
    },
    {
        "id": "fcf792f0b28cddd5",
        "type": "link in",
        "z": "5e246f6c64b79f72",
        "name": "link in 3",
        "links": [
            "9265e6263cbe685e"
        ],
        "x": 505,
        "y": 220,
        "wires": [
            [
                "8e337d9b3201b995"
            ]
        ]
    },
    {
        "id": "9dbc96afc04e93d3",
        "type": "ffmpeg",
        "z": "5e246f6c64b79f72",
        "name": "",
        "outputs": 1,
        "cmdPath": "ffmpeg",
        "cmdArgs": "[\"-version\"]",
        "cmdOutputs": 0,
        "killSignal": "SIGTERM",
        "x": 810,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "a7af5330867cbfad",
        "type": "ui_ui_control",
        "z": "5e246f6c64b79f72",
        "name": "change tab",
        "events": "all",
        "x": 630,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "d23bbf3edc64e785",
        "type": "change",
        "z": "5e246f6c64b79f72",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "radar update",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 540,
        "wires": [
            [
                "a7af5330867cbfad"
            ]
        ]
    },
    {
        "id": "60a997f225afe2bb",
        "type": "ui_ui_control",
        "z": "5e246f6c64b79f72",
        "name": "change tab",
        "events": "all",
        "x": 630,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "5d6e7b1295d02a96",
        "type": "ui_button",
        "z": "5e246f6c64b79f72",
        "name": "...back",
        "group": "19542e2ab6026737",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "...back",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "syscontrol",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 270,
        "y": 580,
        "wires": [
            [
                "60a997f225afe2bb"
            ]
        ]
    },
    {
        "id": "54397ffe64147527",
        "type": "inject",
        "z": "5e246f6c64b79f72",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 580,
        "wires": [
            [
                "5d6e7b1295d02a96"
            ]
        ]
    },
    {
        "id": "fc60499c1dd14bdc",
        "type": "exec",
        "z": "5e246f6c64b79f72",
        "command": "ffmpeg -i /home/fish/.node-red/projects/fishcontrol/files/wetter/radar/temp/radfilm_bbb_akt.gif -vsync 0 /home/fish/.node-red/projects/fishcontrol/files/wetter/radar/temp/temp%d.png",
        "addpay": "",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "ffmpeg",
        "x": 290,
        "y": 660,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "4512674ecb28a0dc",
        "type": "inject",
        "z": "5e246f6c64b79f72",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 660,
        "wires": [
            [
                "fc60499c1dd14bdc"
            ]
        ]
    },
    {
        "id": "4eea6747e0c9b091",
        "type": "debug",
        "z": "5e246f6c64b79f72",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 680,
        "wires": []
    },
    {
        "id": "80aa77d47da61c50",
        "type": "file",
        "z": "5e246f6c64b79f72",
        "name": "",
        "filename": "/home/fish/.node-red/projects/fishcontrol/files/wetter/radar/temp/log.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 810,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "632072a5d318d5e9",
        "type": "tesseract",
        "z": "5e246f6c64b79f72",
        "name": "",
        "language": "ger",
        "x": 360,
        "y": 780,
        "wires": [
            [
                "80aa77d47da61c50",
                "4eea6747e0c9b091"
            ]
        ]
    },
    {
        "id": "ea58c454eb4083c2",
        "type": "inject",
        "z": "5e246f6c64b79f72",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "/home/fish/.node-red/projects/fishcontrol/files/wetter/radar/temp/temp1.png",
        "payloadType": "str",
        "x": 130,
        "y": 780,
        "wires": [
            [
                "632072a5d318d5e9"
            ]
        ]
    },
    {
        "id": "2a5e9387ee8d2568",
        "type": "dwdweather",
        "z": "5e246f6c64b79f72",
        "name": "",
        "mosmixStation": "F518",
        "lookAheadHours": "0",
        "additionalFields": "",
        "omitMessageOnStart": true,
        "repeat": "0",
        "topic": "",
        "x": 630,
        "y": 140,
        "wires": [
            [
                "134bebce82161143",
                "c5d07b13df38f4b5"
            ]
        ]
    },
    {
        "id": "134bebce82161143",
        "type": "ui_artlessgauge",
        "z": "5e246f6c64b79f72",
        "group": "2549cedd67b83eef",
        "order": 12,
        "width": 5,
        "height": 3,
        "name": "temp",
        "icon": "",
        "label": "temp",
        "unit": "°C",
        "layout": "radial",
        "decimals": "2",
        "differential": false,
        "minmax": true,
        "colorTrack": "#555555",
        "style": "",
        "colorFromTheme": true,
        "property": "payload.tempc",
        "secondary": "secondary",
        "inline": false,
        "animate": true,
        "sectors": [
            {
                "val": -30,
                "col": "#ffffff",
                "t": "min",
                "dot": 2
            },
            {
                "val": 5,
                "col": "#0000ff",
                "t": "sec",
                "dot": 2
            },
            {
                "val": 15,
                "col": "#ffff00",
                "t": "sec",
                "dot": 2
            },
            {
                "val": 22,
                "col": "#00ff00",
                "t": "sec",
                "dot": 2
            },
            {
                "val": 25,
                "col": "#ffff00",
                "t": "sec",
                "dot": 2
            },
            {
                "val": 45,
                "col": "#ff0000",
                "t": "sec",
                "dot": 2
            },
            {
                "val": 50,
                "col": "#ff0000",
                "t": "max",
                "dot": 2
            }
        ],
        "lineWidth": "3",
        "bgcolorFromTheme": true,
        "diffCenter": "",
        "x": 910,
        "y": 140,
        "wires": []
    },
    {
        "id": "c5d07b13df38f4b5",
        "type": "ui_gauge",
        "z": "5e246f6c64b79f72",
        "name": "",
        "group": "2549cedd67b83eef",
        "order": 13,
        "width": 5,
        "height": 4,
        "gtype": "compass",
        "title": "gauge",
        "label": "units",
        "format": "{{payload.winddirection}}",
        "min": 0,
        "max": "359",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 910,
        "y": 100,
        "wires": []
    },
    {
        "id": "f6f5eafa238a9dd0",
        "type": "switch",
        "z": "5e246f6c64b79f72",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "0",
                "vt": "num",
                "v2": "22.50",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "22.51",
                "vt": "num",
                "v2": "45.00",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "45.01",
                "vt": "num",
                "v2": "67.50",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "67.51",
                "vt": "num",
                "v2": "90.00",
                "v2t": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 630,
        "y": 60,
        "wires": [
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "033ea7e829fda05b",
        "type": "function",
        "z": "5e246f6c64b79f72",
        "name": "function 1",
        "func": "if (msg.payload.winddirection < \"11,25\")\n    msg.topic = \"Nord\";\nelse if (msg.payload.winddirection <= \"33,75\")\n    msg.topic = \"NNO\";\nelse if (msg.payload.winddirection <= \"56,25\")\n    msg.topic = \"NO\";\nelse if (msg.payload.winddirection <= \"78,75\")\n    msg.topic = \"ONO\";\nelse if (msg.payload.winddirection <= \"101,25\")\n    msg.topic = \"Ost\";\nelse if (msg.payload.winddirection <= \"123,75\")\n    msg.topic = \"OSO\";\nelse if (msg.payload.winddirection <= \"146,25\")\n    msg.topic = \"SO\";\nelse if (msg.payload.winddirection < 168,75)\n    msg.topic = \"SSO\";\nelse if (msg.payload.winddirection < 191,25)\n    msg.topic = \"Süd\"\nelse if (msg.payload.winddirection <= \"213,75\")\n    msg.topic = \"SSW\";\nelse if (msg.payload.winddirection <= \"236,25\")\n    msg.topic = \"SW\";\nelse if (msg.payload.winddirection <= \"258,75\")\n    msg.topic = \"WSW\";\nelse if (msg.payload.winddirection <= \"281,25\")\n    msg.topic = \"West\";\nelse if (msg.payload.winddirection <= \"303,75\")\n    msg.topic = \"WNW\";\nelse if (msg.payload.winddirection <= \"326,25\")\n    msg.topic = \"NW\";\nelse if (msg.payload.winddirection <= \"348,75\")\n    msg.topic = \"NNW\";\nelse if (msg.payload.winddirection >= \"337,50\")\n    msg.topic = \"Nord\";\nelse\n    msg.topic = \"error\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 260,
        "wires": [
            [
                "c9e28b7bbba81bb5",
                "bfaf2555ae1ef7f9"
            ]
        ]
    },
    {
        "id": "5f373ecf2f23899c",
        "type": "inject",
        "z": "5e246f6c64b79f72",
        "name": "",
        "props": [
            {
                "p": "payload.winddirection",
                "v": "180",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 240,
        "wires": [
            [
                "033ea7e829fda05b"
            ]
        ]
    },
    {
        "id": "c9e28b7bbba81bb5",
        "type": "debug",
        "z": "5e246f6c64b79f72",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 720,
        "y": 300,
        "wires": []
    },
    {
        "id": "bfaf2555ae1ef7f9",
        "type": "debug",
        "z": "5e246f6c64b79f72",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 920,
        "y": 260,
        "wires": []
    }
]